
.std ul {
  padding: 0;
  margin: 0;
}

.text_banner {
  height: 240px;
  overflow: hidden;

  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0)), color-stop(0.3, rgba(0,0,0,1)), color-stop(0.7, rgba(0,0,0,1)), to(rgba(0,0,0,0)));
  mask: url(#fade_right_svg_mask);
}
.text_banner ul.animated,
.text_banner ul.animated li span {
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -ms-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
}
.text_banner li {
  margin-bottom: 44px;
}
.text_banner li p {
  line-height: 0.9;
  margin: 0;
  font-size: 2em;
  font-family: 'ProximaNova-Light';
  color: #fff;
  text-shadow: 0 0 5px rgba(0,0,0,0.5);
}
/*.text_banner li.small p {
  font-size: 1.5em;
}*/
.text_banner li span {
  line-height: 0.8;
  display: block;
  font-size: 100%;
  color: #fff;
  font-family: 'ProximaNova-Light';
}
/*.text_banner li.mid p {
  font-size: 2em;
}*/
.text_banner li.mid span {
  font-size: 200%;
  color: #d7001c;
  font-family: 'ProximaNova-Bold';
}
.text_banner li.mid.sm span {
  font-size: 160%;
}







